In [1]:
#dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\casey\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [2]:
#url of redscience page to be scraped
red_url= 'https://redplanetscience.com/'
browser.visit(red_url)
html= browser.html
soup= bs(html, 'html.parser')

In [3]:
#scrape news title
news_title= soup.find('div', class_='content_title').text
print(news_title)

How NASA's Mars Helicopter Will Reach the Red Planet's Surface

In [4]:
#scrape paragraph text
news_p= soup.find('div', class_='article_teaser_body').text
print(news_p)

The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.

In [5]:
#url of space image site to be scraped
import time
image_url= 'https://spaceimages-mars.com/'
browser.visit(image_url)
time.sleep(8)
html= browser.html
soup= bs(html, 'html.parser')

In [6]:
#scrape featured image
featured_image= soup.find('img', class_='fancybox-image')
print(featured_image)

None

In [15]:
#url of facts site
facts_url='https://galaxyfacts-mars.com/'
facts_table=pd.read_html(facts_url)
table_df= facts_table[0]
table_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [20]:
facts_table_html= table_df.to_html()
facts_table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
#url of hemispheres site
hemi_url='https://marshemispheres.com/'
browser.visit(hemi_url)
html= browser.html
soup= bs(html, 'html.parser')

In [33]:
hemi1= soup.find('h2', class_='title').text
print(hemi1)

AttributeError: 'NoneType' object has no attribute 'text'

In [ ]:
browser.quit()